@model SubAbout

<div class="bottom-info ml-auto">
    <div class="header-section text-left">
        <h3 class="hny-title two">@Model.Title</h3>
        <p class="mt-3 pr-lg-5">@Model.Description</p>
        <a asp-controller="About" asp-action="Index" class="btn btn-style btn-secondary mt-5">Read More</a>
    </div>


</div>