
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel</h1>
<a class="btn btn-success" asp-controller="Excel" asp-action="DestinationExcelReport">Excel</a>
