@model UpdateMemberVM

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-body">
                <form method="post">
                    <div class="mb-3 form-group">
                        <label asp-for="OldPassword" class="form-label">Old Password</label>
                        <input asp-for="OldPassword"  class="form-control" />
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                    
                    <div class="mb-3 form-group">
                        <label asp-for="NewPassword" class="form-label">New Password</label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="ConfirmPassword" class="form-label">Check Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Change Password</button>
                    <a class="btn btn-info" asp-action="Index">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section ScriptMember{
    <partial name="_ValidationScriptsPartial" />
}