@model Reservation

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
             
                <small class="text-muted float-end">Reservation</small>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="PersonCount" class="form-label">Person Count</label>
                        <input asp-for="PersonCount" type="number" class="form-control" />
                        <span class="text-danger" asp-validation-for="PersonCount"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <input name="__RequestVerificationToken" type="hidden" value="token-value-here" />

                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-primary text-white" asp-action="Index">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
